@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Judson', serif; 
font-family: 'Poppins', sans-serif;(100 - 900, common - italic)
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulos{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    background-color: transparent;
    /* box-shadow: 1px 4px 12px 0px rgba(0,0,0,0.9); */
    width: 100vw;

}

nav ul {
    list-style: none;
    display: flex;
    margin: 0 1em;

}

#burger {
    border: 0;
    background-color: transparent;
    font-size: 24px;
    color: white;
    display: none;

}

nav ul li a {
    color: #000;
    text-decoration: none;
    margin: 0 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    font-weight: 600;
    position: relative;


}

nav ul li a::after {
    content: "";
    background-color: #000;
    height: 2px;
    width: 100%;
    bottom: -38px;
    left: 0;
    position: absolute;
    transition: 0.2s ease;
    opacity: 0;
}

nav ul li a:hover::after {
    transform: translateY(-32px);
    opacity: 1;
}

.pedirTurno {
    border: none;
    width: 9em;
    height: 3em;
    text-transform: uppercase;
    font-size: 1em;
    background-color: #d19f68;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.pedirTurnoResponsive {
    display: none;
}

.pedirTurno a {
    color: white;
    text-decoration: none;
}

.logoNav {
    width: 10rem;
}

.opinionesContainer {
    width: 90vw;
    height: 85vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding-top: 3%;
}

.comillas {
    width: 7em;
    opacity: 0.1;
    height: auto;

}

.clienteNombre {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.clienteOpinion {
    font-family: 'Judson', serif;
    font-size: 1.5rem;
    width: 70%;
    margin: 0 15%;

}

.clienteImagen {

    width: 12%;
}

.clienteContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.opinionFila {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    border-radius: 50px;

}

.opiniones {
    width: 40%;
    height: 90%;
    background-color: white;
}

footer {
    width: 100%;
    margin-top: 15vh;
    height: max-content;
    background-color: rgb(16, 16, 16);

}

.footerContainer {
    width: 90%;
    height: 450px;
    margin: 0% 5%;
    padding: 1rem;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

}


.footerContainer--turno {
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.logoFooter {
    width: 15em;

}

.slogan {
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -30px;
    letter-spacing: 0.5px;
    color: #fff;
}


.instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoRedes {
    width: 2.5rem;
    margin-right: 10px;

}

.seguinos {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.footerContainer--Map {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px white solid;

}

iframe {
    width: 100%;
    height: 100%;
}

hr {
    width: 90%;
    margin-left: 5%;
}

.footer--contacto {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.direccion,
.horarios {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.3px;
    color: rgb(196, 196, 196);


}

.telefono {
    font-size: 1.2rem;
    color: #d19f68;
    font-weight: 500;

}

@media (max-width: 992px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .opinionesContainer {
       
        height: max-content;
        padding: 2%;
        
    }

    .opinionFila {

        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    }

    .opiniones {
        width: 90%;
        height: 90%;
        margin: 2%;
        padding-bottom: 5%;
        background-color: white;
    }

}


@media (max-width: 768px) {
    ul {
        position: fixed;
        top: 170px;
        background-color: white;
        width: 100%;
        flex-direction: column;
        text-align: center;
        transform: translatey(-140%);
        transition: transform 0.4s ease;
        z-index: 1;

    }

    .pedirTurnoResponsive {
        display: block;
        margin: 0 auto;

    }

    .pedirTurnoFull {
        display: none;
    }

    .subtitulos{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 400;
    }

    #burger {
        display: block;
        color: #000;
        font-size: 3rem;
    }

    nav {
        display: flex;
        flex-direction: row;

    }

    nav ul.show {
        transform: translateX(0);

    }

    .navResponsive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
        padding: 0 10%;
        z-index: 2;
        background-color: #fff;
    }

    nav ul li {
        margin: 20px;
        color: white;
    }

    footer {
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }



    .footerContainer {

        height: 70%;
        display: flex;
        flex-direction: column;
    }

    .footerContainer--turno {

        width: 100%;
        height: 50%;
        margin-bottom: 10%;

    }



    .slogan {
        width: 100%;

    }

    .footer--contacto {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .direccion,
    .horarios {
        font-size: 1.3rem;

    }

    .telefono {
        font-size: 1.5rem;
        padding: 10px 0;

    }
}